* {
  box-sizing: border-box;
}

[class*="col-"]{
	float: left;
	padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

 .col-3 ul{
 	display: none;
 
 }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

i{
	color: white;
}


html {
  font-family: Product sans;
  background-color: #f3f3f3
}

.header{
  background-color: #001f33;
  color: white;
  padding: 15px;
}

.footer{
	background-color: #001f33;
	color: white;
	padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color :#001f33;
  color: white;
  box-shadow: 2px 2px 2px 2px 0.2;
}

.menu li a {
	color: white;
	text-decoration: none;
}

.menu li:hover {
  background-color: #0099cc;
}


/*landing page*/

.first{
	height: 100vh;
	background-image: url('images/bg2.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	justify-content: center;
	align-items: center;
	text-align: center;
}